In [3]:
#Import Pandas

import pandas as pd

In [45]:
#Extract Data

pymoli_file = "Resources/purchase_data.csv"
pymoli_file_df = pd.read_csv(pymoli_file)
print(pymoli_file_df)

     Purchase ID             SN  Age  Gender  Item ID  \
0              0        Lisim78   20    Male      108
1              1    Lisovynya38   40    Male      143
2              2     Ithergue48   24    Male       92
3              3  Chamassasya86   24    Male      100
4              4      Iskosia90   23    Male      131
..           ...            ...  ...     ...      ...
775          775     Aethedru70   21  Female       60
776          776         Iral74   21    Male      164
777          777     Yathecal72   20    Male       67
778          778        Sisur91    7    Male       92
779          779      Ennrian78   24    Male       50

                                     Item Name  Price
0    Extraction, Quickblade Of Trembling Hands   3.53
1                            Frenzied Scimitar   1.56
2                                 Final Critic   4.88
3                                  Blindscythe   3.27
4                                         Fury   1.44
..                                         ...    ...
775                                       Wolf   3.54
776                           Exiled Doomblade   1.63
777      Celeste, Incarnation of the Corrupted   3.46
778                               Final Critic   4.19
779                                       Dawn   4.60

[780 rows x 7 columns]

In [9]:
#Number Of Players

total_players = len(pymoli_file_df["SN"].unique())
print(total_players)

576

In [17]:
#Total Number Of Players Dataframe

total_players_df = pd.DataFrame({"Total Players": [576]})
print(total_players_df)

   Total Players
0            576

In [18]:
#Number Of Unique Items

unique_items = len(pymoli_file_df["Item Name"].unique())
print(unique_items)

179

In [19]:
#Average Purchase Price 

average_price = pymoli_file_df["Price"].mean()
print(average_price)

3.050987179487176

In [21]:
#Total Number Of Purchases

total_purchases = len(pymoli_file_df["Purchase ID"].unique())
print(total_purchases)

780

In [22]:
#Sum Of Price

total_price = pymoli_file_df["Price"].sum()
print(total_price)

2379.77

In [31]:
#Purchase Analysis DataFrame

data_analysis_df = pd.DataFrame({"Unique Items": [179], "Average Price": ["$3.05"], "Total Purchases": [780], "Sum of Price": ["$2,379.77"]})
print(data_analysis_df)

   Unique Items Average Price  Total Purchases Sum of Price
0           179         $3.05              780    $2,379.77

In [57]:
#Dropping Duplicate Names

new_data = pymoli_file_df.drop_duplicates(subset=["SN"])
print(new_data)

     Purchase ID             SN  Age  Gender  Item ID  \
0              0        Lisim78   20    Male      108
1              1    Lisovynya38   40    Male      143
2              2     Ithergue48   24    Male       92
3              3  Chamassasya86   24    Male      100
4              4      Iskosia90   23    Male      131
..           ...            ...  ...     ...      ...
773          773         Hala31   21    Male       19
774          774     Jiskjask80   11    Male       92
775          775     Aethedru70   21  Female       60
777          777     Yathecal72   20    Male       67
778          778        Sisur91    7    Male       92

                                     Item Name  Price
0    Extraction, Quickblade Of Trembling Hands   3.53
1                            Frenzied Scimitar   1.56
2                                 Final Critic   4.88
3                                  Blindscythe   3.27
4                                         Fury   1.44
..                                         ...    ...
773              Pursuit, Cudgel of Necromancy   1.02
774                               Final Critic   4.19
775                                       Wolf   3.54
777      Celeste, Incarnation of the Corrupted   3.46
778                               Final Critic   4.19

[576 rows x 7 columns]

In [58]:
# Male Players

m_players = new_data.loc[new_data["Gender"] == "Male", :]
print(m_players)

     Purchase ID             SN  Age Gender  Item ID  \
0              0        Lisim78   20   Male      108
1              1    Lisovynya38   40   Male      143
2              2     Ithergue48   24   Male       92
3              3  Chamassasya86   24   Male      100
4              4      Iskosia90   23   Male      131
..           ...            ...  ...    ...      ...
771          771   Iskossasda43   16   Male       25
773          773         Hala31   21   Male       19
774          774     Jiskjask80   11   Male       92
777          777     Yathecal72   20   Male       67
778          778        Sisur91    7   Male       92

                                     Item Name  Price
0    Extraction, Quickblade Of Trembling Hands   3.53
1                            Frenzied Scimitar   1.56
2                                 Final Critic   4.88
3                                  Blindscythe   3.27
4                                         Fury   1.44
..                                         ...    ...
771                                  Hero Cane   4.35
773              Pursuit, Cudgel of Necromancy   1.02
774                               Final Critic   4.19
777      Celeste, Incarnation of the Corrupted   3.46
778                               Final Critic   4.19

[484 rows x 7 columns]

In [59]:
print(len(m_players))

484

In [67]:
percentage_m_players = 484 / 576 * 100
print(percentage_m_players)

84.02777777777779

In [68]:
# Female Players

f_players = new_data.loc[new_data["Gender"] == "Female", :]
print(f_players)

     Purchase ID              SN  Age  Gender  Item ID  \
15            15       Lisassa64   21  Female       98
18            18       Reunasu60   22  Female       82
38            38        Reulae52   10  Female      116
41            41       Assosia88   20  Female        7
55            55       Phaelap26   25  Female       84
..           ...             ...  ...     ...      ...
697          697  Tyaelistidru84   19  Female        1
698          698     Yarithrin84   30  Female       58
699          699       Tyaelly53   17  Female      130
731          731        Eudanu84   22  Female       12
775          775      Aethedru70   21  Female       60

                             Item Name  Price
15         Deadline, Voice Of Subtlety   2.89
18                             Nirvana   4.90
38             Renewed Skeletal Katana   4.18
41        Thorn, Satchel of Dark Souls   1.33
55                          Arcane Gem   3.79
..                                 ...    ...
697                           Crucifer   3.26
698  Freak's Bite, Favor of Holy Might   4.14
699                              Alpha   2.07
731                              Dawne   1.02
775                               Wolf   3.54

[81 rows x 7 columns]

In [69]:
print(len(f_players))

81

In [72]:
percentage_f_players = 81 / 576 * 100
print(percentage_f_players)

14.0625

In [70]:
# Other Players

n_players = new_data.loc[new_data["Gender"] == "Other / Non-Disclosed", :]
print(n_players)

     Purchase ID            SN  Age                 Gender  Item ID  \
9              9   Chanosian48   35  Other / Non-Disclosed      136
22            22  Siarithria38   38  Other / Non-Disclosed       24
82            82    Haerithp41   16  Other / Non-Disclosed      160
111          111      Sundim98   21  Other / Non-Disclosed       41
228          228   Jiskirran77   20  Other / Non-Disclosed       80
237          237     Idairin51   20  Other / Non-Disclosed       16
242          242     Eodaisu60   16  Other / Non-Disclosed       39
350          350     Rairith81   15  Other / Non-Disclosed       34
401          401      Lirtim36   15  Other / Non-Disclosed       46
549          549    Maluncil97   25  Other / Non-Disclosed      146
637          637        Airi27   24  Other / Non-Disclosed      163

                                Item Name  Price
9            Ghastly Adamantite Protector   3.58
22                          Warped Fetish   3.81
82                             Azurewrath   4.40
111                                 Orbit   4.75
228                             Dreamsong   3.39
237                       Restored Bauble   3.55
242  Betrayal, Whisper of Grieving Widows   3.94
350                       Retribution Axe   2.22
401               Hopeless Ebon Dualblade   1.33
549                  Warped Iron Scimitar   3.10
637                  Thunderfury Scimitar   3.45

In [71]:
print(len(n_players))

11

In [73]:
percentage_n_players = 11 / 576 * 100
print(percentage_n_players)

1.9097222222222223

In [74]:
# Gender Demographic DataFrame

gender_demo_df = pd.DataFrame({"Type": ["Male", "Female", "Non-Disclosed"], "Total Count": [484 , 81, 11], "Percentage of Player": ["84%", "14%", "1.91%"]})
print(gender_demo_df)

            Type  Total Count Percentage of Player
0           Male          484                  84%
1         Female           81                  14%
2  Non-Disclosed           11                1.91%

In [77]:
# Male Purchase Count

m_player_counts = pymoli_file_df.loc[pymoli_file_df["Gender"] == "Male", :]
print(m_player_counts.count())

Purchase ID    652
SN             652
Age            652
Gender         652
Item ID        652
Item Name      652
Price          652
dtype: int64

In [78]:
# Female Purchase Count

f_player_counts = pymoli_file_df.loc[pymoli_file_df["Gender"] == "Female", :]
print(f_player_counts.count())

Purchase ID    113
SN             113
Age            113
Gender         113
Item ID        113
Item Name      113
Price          113
dtype: int64

In [80]:
# Non-Disclosed Purchase Count

n_player_counts = pymoli_file_df.loc[pymoli_file_df["Gender"] == "Other / Non-Disclosed", :]
print(n_player_counts.count())

Purchase ID    15
SN             15
Age            15
Gender         15
Item ID        15
Item Name      15
Price          15
dtype: int64

In [82]:
# Average Male Purchase Price

m_player_price = pymoli_file_df.loc[pymoli_file_df["Gender"] == "Male", :]
print(m_player_price["Price"].mean())

3.0178527607361953

In [83]:
# Average Female Purchase Price

f_player_price = pymoli_file_df.loc[pymoli_file_df["Gender"] == "Female", :]
print(f_player_price["Price"].mean())

3.203008849557519

In [84]:
# Average Non-Disclosed Purchase Price

n_player_price = pymoli_file_df.loc[pymoli_file_df["Gender"] == "Other / Non-Disclosed", :]
print(n_player_price["Price"].mean())

3.3460000000000005

In [86]:
# Total Male Purchase Value

m_player_value = pymoli_file_df.loc[pymoli_file_df["Gender"] == "Male", :]
print(m_player_value["Price"].sum())

1967.64

In [87]:
# Total Female Purchase Value

f_player_value = pymoli_file_df.loc[pymoli_file_df["Gender"] == "Female", :]
print(f_player_value["Price"].sum())

361.94

In [88]:
# Total Non-Disclosed Purchase Value

n_player_value = pymoli_file_df.loc[pymoli_file_df["Gender"] == "Other / Non-Disclosed", :]
print(n_player_value["Price"].sum())

50.19

In [93]:
# Average Purchase Total Per Male

m_average_price = 1967.64 / 484
print(m_average_price)

4.065371900826446

In [94]:
# Average Purchase Total Per Female

f_average_price = 361.94 / 81
print(f_average_price)

4.468395061728395

In [95]:
# Average Purchase Total Per Other

n_average_price = 50.19 / 11
print(n_average_price)

4.5627272727272725

In [102]:
#Purchase Analysis DataFrame By Gender

gender_data_analysis_df = pd.DataFrame({"Gender": ["Male", "Female", "Non-Disclosed"], "Purchase Ct.": [652, 113, 15], "Avg. Price": ["$3.02", "$3.20", "$3.35"], "Total Purchase Value": ["$1,967.64", "$361.94", "$50.19"], "Avg. Total": ["$4.07", "$4.47", "$4.56"]})
print(gender_data_analysis_df)

          Gender  Purchase Ct. Avg. Price Total Purchase Value Avg. Total
0           Male           652      $3.02            $1,967.64      $4.07
1         Female           113      $3.20              $361.94      $4.47
2  Non-Disclosed            15      $3.35               $50.19      $4.56

In [103]:
#Oldest Person

pymoli_file_oldest = pymoli_file_df["Age"].max()
print(pymoli_file_oldest)

45

In [104]:
#Youngest Person

pymoli_file_youngest = pymoli_file_df["Age"].min()
print(pymoli_file_youngest)

7

In [128]:
#Bins of 4 Years 

year_bins = [0, 9, 14, 19, 24, 29, 34, 39, 50]
bin_labels = ["<10","10-14", "15-19", "20-24", "25-29", "30-34", "35-39","40+"]

In [129]:
pymoli_file_df["Age Range"] = pd.cut(pymoli_file_df["Age"], year_bins, labels=bin_labels, include_lowest=True)
print(pymoli_file_df)

     Purchase ID             SN  Age  Gender  Item ID  \
0              0        Lisim78   20    Male      108
1              1    Lisovynya38   40    Male      143
2              2     Ithergue48   24    Male       92
3              3  Chamassasya86   24    Male      100
4              4      Iskosia90   23    Male      131
..           ...            ...  ...     ...      ...
775          775     Aethedru70   21  Female       60
776          776         Iral74   21    Male      164
777          777     Yathecal72   20    Male       67
778          778        Sisur91    7    Male       92
779          779      Ennrian78   24    Male       50

                                     Item Name  Price Total Count Age Range
0    Extraction, Quickblade Of Trembling Hands   3.53       20-24     20-24
1                            Frenzied Scimitar   1.56         40+       40+
2                                 Final Critic   4.88       20-24     20-24
3                                  Blindscythe   3.27       20-24     20-24
4                                         Fury   1.44       20-24     20-24
..                                         ...    ...         ...       ...
775                                       Wolf   3.54       20-24     20-24
776                           Exiled Doomblade   1.63       20-24     20-24
777      Celeste, Incarnation of the Corrupted   3.46       20-24     20-24
778                               Final Critic   4.19         <10       <10
779                                       Dawn   4.60       20-24     20-24

[780 rows x 9 columns]

In [130]:
#Dropping Wrong Column

print(pymoli_file_df.drop(["Total Count"], axis=1))

     Purchase ID             SN  Age  Gender  Item ID  \
0              0        Lisim78   20    Male      108
1              1    Lisovynya38   40    Male      143
2              2     Ithergue48   24    Male       92
3              3  Chamassasya86   24    Male      100
4              4      Iskosia90   23    Male      131
..           ...            ...  ...     ...      ...
775          775     Aethedru70   21  Female       60
776          776         Iral74   21    Male      164
777          777     Yathecal72   20    Male       67
778          778        Sisur91    7    Male       92
779          779      Ennrian78   24    Male       50

                                     Item Name  Price Age Range
0    Extraction, Quickblade Of Trembling Hands   3.53     20-24
1                            Frenzied Scimitar   1.56       40+
2                                 Final Critic   4.88     20-24
3                                  Blindscythe   3.27     20-24
4                                         Fury   1.44     20-24
..                                         ...    ...       ...
775                                       Wolf   3.54     20-24
776                           Exiled Doomblade   1.63     20-24
777      Celeste, Incarnation of the Corrupted   3.46     20-24
778                               Final Critic   4.19       <10
779                                       Dawn   4.60     20-24

[780 rows x 8 columns]

In [140]:
#Creating New DataFrame To Review The Data For Grouping

new_pymoli_file_df = pymoli_file_df[["SN","Age Range"]]
print(new_pymoli_file_df)

                SN Age Range
0          Lisim78     20-24
1      Lisovynya38       40+
2       Ithergue48     20-24
3    Chamassasya86     20-24
4        Iskosia90     20-24
..             ...       ...
775     Aethedru70     20-24
776         Iral74     20-24
777     Yathecal72     20-24
778        Sisur91       <10
779      Ennrian78     20-24

[780 rows x 2 columns]

In [141]:
#Removing Duplicate Names From Above DataFrame

new_data_for_group_df = new_pymoli_file_df.drop_duplicates(subset=["SN"])
print(new_data_for_group_df)

                SN Age Range
0          Lisim78     20-24
1      Lisovynya38       40+
2       Ithergue48     20-24
3    Chamassasya86     20-24
4        Iskosia90     20-24
..             ...       ...
773         Hala31     20-24
774     Jiskjask80     10-14
775     Aethedru70     20-24
777     Yathecal72     20-24
778        Sisur91       <10

[576 rows x 2 columns]

In [142]:
#Counting Number of Age Ranges

new_pymoli_file_df_bg = new_data_for_group_df.groupby(["Age Range"])
print(new_pymoli_file_df_bg.count())

            SN
Age Range
<10         17
10-14       22
15-19      107
20-24      258
25-29       77
30-34       52
35-39       31
40+         12

In [149]:
#Create A New DataFrame & Add Percent Column

percent_of_players_df = pd.DataFrame({"Age Range": ["<10","10-14", "15-19", "20-24", "25-29", "30-34", "35-39","40+"],"Total Count":[17, 22, 107, 258, 77, 52, 31, 12] ,"Percent Of Players":[17/576 * 100, 22/576 * 100, 107/576 * 100, 258/576 * 100, 77/576 * 100, 52/576 * 100, 31/576 * 100, 12/576 * 100]})
print(percent_of_players_df)

  Age Range  Total Count  Percent Of Players
0       <10           17            2.951389
1     10-14           22            3.819444
2     15-19          107           18.576389
3     20-24          258           44.791667
4     25-29           77           13.368056
5     30-34           52            9.027778
6     35-39           31            5.381944
7       40+           12            2.083333

In [150]:
#Age Demographics
# Change Percents Columns By Adding Mapping Function

percent_of_players_df["Age Range"] = percent_of_players_df["Age Range"] 
percent_of_players_df["Total Count"] = percent_of_players_df["Total Count"]
percent_of_players_df["Percent Of Player"] = percent_of_players_df["Percent Of Players"].map("{:.2f}%".format)
print(percent_of_players_df)

  Age Range  Total Count  Percent Of Players Percent Of Player
0       <10           17            2.951389             2.95%
1     10-14           22            3.819444             3.82%
2     15-19          107           18.576389            18.58%
3     20-24          258           44.791667            44.79%
4     25-29           77           13.368056            13.37%
5     30-34           52            9.027778             9.03%
6     35-39           31            5.381944             5.38%
7       40+           12            2.083333             2.08%

In [151]:
#Creating New DataFrame To Review The Purchase Data For Grouping

second_pymoli_file_df = pymoli_file_df[["Age Range", "Price"]]
print(second_pymoli_file_df)

    Age Range  Price
0       20-24   3.53
1         40+   1.56
2       20-24   4.88
3       20-24   3.27
4       20-24   1.44
..        ...    ...
775     20-24   3.54
776     20-24   1.63
777     20-24   3.46
778       <10   4.19
779     20-24   4.60

[780 rows x 2 columns]

In [152]:
age_group = second_pymoli_file_df.groupby("Age Range")
print(age_group["Age Range"].count())

Age Range
<10       23
10-14     28
15-19    136
20-24    365
25-29    101
30-34     73
35-39     41
40+       13
Name: Age Range, dtype: int64

In [153]:
print(age_group[["Age Range", "Price"]].mean())

              Price
Age Range
<10        3.353478
10-14      2.956429
15-19      3.035956
20-24      3.052219
25-29      2.900990
30-34      2.931507
35-39      3.601707
40+        2.941538

In [154]:
print(age_group[["Age Range","Price"]].sum())

             Price
Age Range
<10          77.13
10-14        82.78
15-19       412.89
20-24      1114.06
25-29       293.00
30-34       214.00
35-39       147.67
40+          38.24

In [159]:
#Purchasing DataFrame (Age)

age_group_analysis_df = pd.DataFrame({"Age Range": ["<10","10-14", "15-19", "20-24", "25-29", "30-34", "35-39","40+"], "Purchase Count":[23, 28, 136, 365, 101, 73, 41, 13], "Avg. Price": ["$3.35","$2.95","$3.03","$3.05","$2.90","$2.93","$3.60", "$2.94"], "Total Value":["$77.13","$82.78","$412.89","$1114.06","$293.00","$214.00", "$147.67","$38.24"], "Avg. Total":[77.13/17, 82.78/22, 412.89/107,1114.06/258, 293.00/77, 214.00/52, 147.67/31, 38.24/12]})
print(age_group_analysis_df)

  Age Range  Purchase Count Avg. Price Total Value  Avg. Total
0       <10              23      $3.35      $77.13    4.537059
1     10-14              28      $2.95      $82.78    3.762727
2     15-19             136      $3.03     $412.89    3.858785
3     20-24             365      $3.05    $1114.06    4.318062
4     25-29             101      $2.90     $293.00    3.805195
5     30-34              73      $2.93     $214.00    4.115385
6     35-39              41      $3.60     $147.67    4.763548
7       40+              13      $2.94      $38.24    3.186667

In [160]:
#Purchasing Age DataFrame (Age)
age_group_analysis_df["Age Range"] = age_group_analysis_df["Age Range"]
age_group_analysis_df["Purchase Count"] = age_group_analysis_df["Purchase Count"]
age_group_analysis_df["Avg. Price"] = age_group_analysis_df["Avg. Price"]
age_group_analysis_df["Total Value"] = age_group_analysis_df["Total Value"]
age_group_analysis_df["Avg. Total"] = age_group_analysis_df["Avg. Total"].map("${:.2f}".format)
print(age_group_analysis_df)

  Age Range  Purchase Count Avg. Price Total Value Avg. Total
0       <10              23      $3.35      $77.13      $4.54
1     10-14              28      $2.95      $82.78      $3.76
2     15-19             136      $3.03     $412.89      $3.86
3     20-24             365      $3.05    $1114.06      $4.32
4     25-29             101      $2.90     $293.00      $3.81
5     30-34              73      $2.93     $214.00      $4.12
6     35-39              41      $3.60     $147.67      $4.76
7       40+              13      $2.94      $38.24      $3.19

In [306]:
#Top Spenders

spenders_grouped = pymoli_file_df.groupby('SN')['Price'].sum().sort_values(ascending=False)
print(spenders_grouped.head(10))

SN
Lisosia93       18.96
Idastidru52     15.45
Chamjask73      13.83
Iral74          13.62
Iskadarya95     13.10
Ilarin91        12.70
Ialallo29       11.84
Tyidaim51       11.83
Lassilsala30    11.51
Chadolyla44     11.46
Name: Price, dtype: float64

In [275]:
#Top Spenders

lisosia93_spender = pymoli_file_df.loc[pymoli_file_df["SN"] == "Lisosia93",:] 
print(lisosia93_spender.count())
print(lisosia93_spender.sum())

Purchase ID    5
SN             5
Age            5
Gender         5
Item ID        5
Item Name      5
Price          5
Total Count    5
Age Range      5
sum_column     5
dtype: int64
Purchase ID                                                 1630
SN                 Lisosia93Lisosia93Lisosia93Lisosia93Lisosia93
Age                                                          125
Gender                                      MaleMaleMaleMaleMale
Item ID                                                      442
Item Name      Blazefury, Protector of DelusionsWarped Fetish...
Price                                                      18.96
Total Count                            25-2925-2925-2925-2925-29
Age Range                              25-2925-2925-2925-2925-29
sum_column                                                  1630
dtype: object

In [276]:
idastidru52_spender = pymoli_file_df.loc[pymoli_file_df["SN"] == "Idastidru52",:] 
print(idastidru52_spender.count())
print(idastidru52_spender.sum())

Purchase ID    4
SN             4
Age            4
Gender         4
Item ID        4
Item Name      4
Price          4
Total Count    4
Age Range      4
sum_column     4
dtype: int64
Purchase ID                                                 1999
SN                  Idastidru52Idastidru52Idastidru52Idastidru52
Age                                                           96
Gender                                          MaleMaleMaleMale
Item ID                                                      527
Item Name      Hellreaver, Heirloom of InceptionWarmonger, Gi...
Price                                                      15.45
Total Count                                 20-2420-2420-2420-24
Age Range                                   20-2420-2420-2420-24
sum_column                                                  1999
dtype: object

In [277]:
chamjask73_spender = pymoli_file_df.loc[pymoli_file_df["SN"] == "Chamjask73",:] 
print(chamjask73_spender.count())
print(chamjask73_spender.sum())

Purchase ID    3
SN             3
Age            3
Gender         3
Item ID        3
Item Name      3
Price          3
Total Count    3
Age Range      3
sum_column     3
dtype: int64
Purchase ID                                                 1306
SN                                Chamjask73Chamjask73Chamjask73
Age                                                           66
Gender                                        FemaleFemaleFemale
Item ID                                                      339
Item Name      Oathbreaker, Last Hope of the Breaking StormDo...
Price                                                      13.83
Total Count                                      20-2420-2420-24
Age Range                                        20-2420-2420-24
sum_column                                                  1306
dtype: object

In [278]:
iral74_spender = pymoli_file_df.loc[pymoli_file_df["SN"] == "Iral74",:] 
print(iral74_spender.count())
print(iral74_spender.sum())

Purchase ID    4
SN             4
Age            4
Gender         4
Item ID        4
Item Name      4
Price          4
Total Count    4
Age Range      4
sum_column     4
dtype: int64
Purchase ID                                                 2285
SN                                      Iral74Iral74Iral74Iral74
Age                                                           84
Gender                                          MaleMaleMaleMale
Item ID                                                      518
Item Name      Freak's Bite, Favor of Holy MightYearning Mage...
Price                                                      13.62
Total Count                                 20-2420-2420-2420-24
Age Range                                   20-2420-2420-2420-24
sum_column                                                  2285
dtype: object

In [279]:
iskadarya95_spender = pymoli_file_df.loc[pymoli_file_df["SN"] == "Iskadarya95",:] 
print(iskadarya95_spender.count())
print(iskadarya95_spender.sum())

Purchase ID    3
SN             3
Age            3
Gender         3
Item ID        3
Item Name      3
Price          3
Total Count    3
Age Range      3
sum_column     3
dtype: int64
Purchase ID                                                 713
SN                            Iskadarya95Iskadarya95Iskadarya95
Age                                                          60
Gender                                             MaleMaleMale
Item ID                                                     321
Item Name      Warmonger, Gift of Suffering's EndNirvanaCeleste
Price                                                      13.1
Total Count                                     20-2420-2420-24
Age Range                                       20-2420-2420-24
sum_column                                                  713
dtype: object

In [280]:
#Top Spender DataFrame

top_spenders_df = pd.DataFrame({"SN": ["Lisosia93", "Idastidru52","Chamjask73","Iral74", "Iskadarya95"], "Purchase Count":[5,4,3,4,3], "Avg. Price": [18.96/5,15.45/4,13.83/3,13.62/4,13.1/3], "Total Value":["$18.96","$15.45","$13.83","$13.62","$13.1"]})
print(top_spenders_df)

            SN  Purchase Count  Avg. Price Total Value
0    Lisosia93               5    3.792000      $18.96
1  Idastidru52               4    3.862500      $15.45
2   Chamjask73               3    4.610000      $13.83
3       Iral74               4    3.405000      $13.62
4  Iskadarya95               3    4.366667       $13.1

In [316]:
top_spenders_df["SN"] = top_spenders_df["SN"]
top_spenders_df["Purchase Count"] = top_spenders_df["Purchase Count"]
top_spenders_df["Avg. Price"] = top_spenders_df["Avg. Price"].map("${:.2f}".format)
top_spenders_df["Total Value"] = top_spenders_df["Total Value"]
print(top_spenders_df)

            SN  Purchase Count Avg. Price Total Value
0    Lisosia93               5      $3.79      $18.96
1  Idastidru52               4      $3.86      $15.45
2   Chamjask73               3      $4.61      $13.83
3       Iral74               4      $3.40      $13.62
4  Iskadarya95               3      $4.37       $13.1

In [304]:
#Top Profitable Items

#df.groupby('group')['id'].count().sort_values(ascending=False)
grouped = pymoli_file_df.groupby('Item Name')['Price'].sum().sort_values(ascending=False)
print(grouped.head(10))

Item Name
Final Critic                                    59.99
Oathbreaker, Last Hope of the Breaking Storm    50.76
Nirvana                                         44.10
Fiery Glass Crusader                            41.22
Singed Scalpel                                  34.80
Lightning, Etcher of the King                   33.84
Extraction, Quickblade Of Trembling Hands       31.77
Glimmer, Ender of the Moon                      30.80
Winter's Bite                                   30.16
Persuasion                                      28.99
Name: Price, dtype: float64

In [307]:
#Top Items

final_critic = pymoli_file_df.loc[pymoli_file_df["Item Name"] == "Final Critic",:] 
print(final_critic.count())
print(final_critic.sum())

Purchase ID    13
SN             13
Age            13
Gender         13
Item ID        13
Item Name      13
Price          13
Total Count    13
Age Range      13
sum_column     13
dtype: int64
Purchase ID                                                 6371
SN             Ithergue48Haisrisuir60Tyaelo67Phyali88Ennalmol...
Age                                                          266
Gender         MaleMaleMaleFemaleMaleMaleMaleMaleMaleFemaleMa...
Item ID                                                     1196
Item Name      Final CriticFinal CriticFinal CriticFinal Crit...
Price                                                      59.99
Total Count    20-2420-2435-3915-1920-24<1020-2425-2920-24<10...
Age Range      20-2420-2435-3915-1920-2410-1420-2425-2920-24<...
sum_column                                                  6371
dtype: object

In [308]:
oathbreaker = pymoli_file_df.loc[pymoli_file_df["Item Name"] == "Oathbreaker, Last Hope of the Breaking Storm",:] 
print(oathbreaker.count())
print(oathbreaker.sum())

Purchase ID    12
SN             12
Age            12
Gender         12
Item ID        12
Item Name      12
Price          12
Total Count    12
Age Range      12
sum_column     12
dtype: int64
Purchase ID                                                 4960
SN             Lisirra87Jiskimya77Yadaphos40Marilsa69Chamjask...
Age                                                          287
Gender         MaleMaleMaleFemaleFemaleMaleMaleMaleFemaleMale...
Item ID                                                     2136
Item Name      Oathbreaker, Last Hope of the Breaking StormOa...
Price                                                      50.76
Total Count    25-2915-1930-3425-2920-2420-2420-2425-29<1020-...
Age Range      25-2915-1930-3425-2920-2420-2420-2425-29<1020-...
sum_column                                                  4960
dtype: object

In [309]:
nirvana = pymoli_file_df.loc[pymoli_file_df["Item Name"] == "Nirvana",:] 
print(nirvana.count())
print(nirvana.sum())

Purchase ID    9
SN             9
Age            9
Gender         9
Item ID        9
Item Name      9
Price          9
Total Count    9
Age Range      9
sum_column     9
dtype: int64
Purchase ID                                                 2761
SN             Reunasu60Laedallo55Phistym51Lirtastsda29Iskada...
Age                                                          215
Gender              FemaleMaleMaleMaleMaleFemaleFemaleMaleFemale
Item ID                                                      738
Item Name      NirvanaNirvanaNirvanaNirvanaNirvanaNirvanaNirv...
Price                                                       44.1
Total Count        20-2430-3435-3915-1920-2425-2920-2415-1920-24
Age Range          20-2430-3435-3915-1920-2425-2920-2415-1920-24
sum_column                                                  2761
dtype: object

In [310]:
fiery = pymoli_file_df.loc[pymoli_file_df["Item Name"] == "Fiery Glass Crusader",:] 
print(fiery.count())
print(fiery.sum())

Purchase ID    9
SN             9
Age            9
Gender         9
Item ID        9
Item Name      9
Price          9
Total Count    9
Age Range      9
sum_column     9
dtype: int64
Purchase ID                                                 4345
SN             Inguron55Sondastsda82Ceoral34Qilunan34Ina92Yoi...
Age                                                          187
Gender                  MaleMaleMaleMaleMaleFemaleFemaleMaleMale
Item ID                                                     1305
Item Name      Fiery Glass CrusaderFiery Glass CrusaderFiery ...
Price                                                      41.22
Total Count        20-2420-2420-2420-2430-3415-1915-1915-1915-19
Age Range          20-2420-2420-2420-2430-3415-1915-1915-1915-19
sum_column                                                  4345
dtype: object

In [311]:
singed = pymoli_file_df.loc[pymoli_file_df["Item Name"] == "Singed Scalpel",:] 
print(singed.count())
print(singed.sum())

Purchase ID    8
SN             8
Age            8
Gender         8
Item ID        8
Item Name      8
Price          8
Total Count    8
Age Range      8
sum_column     8
dtype: int64
Purchase ID                                                 3947
SN             Indcil77Aina42Lisossala30Assistasda90Marassa62...
Age                                                          178
Gender                        MaleMaleMaleMaleMaleMaleMaleFemale
Item ID                                                      824
Item Name      Singed ScalpelSinged ScalpelSinged ScalpelSing...
Price                                                       34.8
Total Count             15-1925-2920-2425-2920-2415-1935-3915-19
Age Range               15-1925-2920-2425-2920-2415-1935-3915-19
sum_column                                                  3947
dtype: object

In [315]:
#Top Profitable Items DataFrame

top_profitable_df = pd.DataFrame({"Item Name": ["Final Critic", "Oathbreaker, Last Hope of the Breaking Storm","Nirvana","Fiery Glass Crusader", "Singed Scalpel"], "Purchase Ct.":[13,12,9,9,8], "Item Price": [59.99/13,50.76/12,44.10/9,41.22/9,34.80/8], "Total Value":["$59.99","$50.76","$44.10","$41.22","$34.80"]})
print(top_profitable_df)

                                      Item Name  Purchase Ct.  Item Price  \
0                                  Final Critic            13    4.614615
1  Oathbreaker, Last Hope of the Breaking Storm            12    4.230000
2                                       Nirvana             9    4.900000
3                          Fiery Glass Crusader             9    4.580000
4                                Singed Scalpel             8    4.350000

  Total Value
0      $59.99
1      $50.76
2      $44.10
3      $41.22
4      $34.80

In [317]:
top_profitable_df["Item Name"] = top_profitable_df["Item Name"]
top_profitable_df["Purchase Ct."] = top_profitable_df["Purchase Ct."]
top_profitable_df["Item Price"] = top_profitable_df["Item Price"].map("${:.2f}".format)
top_profitable_df["Total Value"] = top_profitable_df["Total Value"]
print(top_profitable_df)

                                      Item Name  Purchase Ct. Item Price  \
0                                  Final Critic            13      $4.61
1  Oathbreaker, Last Hope of the Breaking Storm            12      $4.23
2                                       Nirvana             9      $4.90
3                          Fiery Glass Crusader             9      $4.58
4                                Singed Scalpel             8      $4.35

  Total Value
0      $59.99
1      $50.76
2      $44.10
3      $41.22
4      $34.80

In [318]:
#Top Popular Items

#df.groupby('group')['id'].count().sort_values(ascending=False)
popular_grouped = pymoli_file_df.groupby('Item Name')['Price'].count().sort_values(ascending=False)
print(popular_grouped.head(10))

Item Name
Final Critic                                    13
Oathbreaker, Last Hope of the Breaking Storm    12
Nirvana                                          9
Persuasion                                       9
Fiery Glass Crusader                             9
Extraction, Quickblade Of Trembling Hands        9
Singed Scalpel                                   8
Lightning, Etcher of the King                    8
Brutality Ivory Warmace                          8
Retribution Axe                                  8
Name: Price, dtype: int64

In [319]:
persuasion = pymoli_file_df.loc[pymoli_file_df["Item Name"] == "Persuasion",:] 
print(persuasion.count())
print(persuasion.sum())

Purchase ID    9
SN             9
Age            9
Gender         9
Item ID        9
Item Name      9
Price          9
Total Count    9
Age Range      9
sum_column     9
dtype: int64
Purchase ID                                                 3960
SN             Siala43Chadossa89Tyeosri53Chanadar44Assirra56I...
Age                                                          217
Gender                    MaleMaleMaleMaleMaleMaleMaleFemaleMale
Item ID                                                     1188
Item Name      PersuasionPersuasionPersuasionPersuasionPersua...
Price                                                      28.99
Total Count        30-3420-2420-2425-2920-2420-2425-2920-2420-24
Age Range          30-3420-2420-2425-2920-2420-2425-2920-2420-24
sum_column                                                  3960
dtype: object

In [321]:
extraction = pymoli_file_df.loc[pymoli_file_df["Item Name"] == "Extraction, Quickblade Of Trembling Hands",:] 
print(extraction.count())
print(extraction.sum())

Purchase ID    9
SN             9
Age            9
Gender         9
Item ID        9
Item Name      9
Price          9
Total Count    9
Age Range      9
sum_column     9
dtype: int64
Purchase ID                                                 3484
SN             Lisim78Raesty92Marast30Marokian45Saistyphos30F...
Age                                                          223
Gender                  MaleMaleFemaleMaleMaleMaleFemaleMaleMale
Item ID                                                      972
Item Name      Extraction, Quickblade Of Trembling HandsExtra...
Price                                                      31.77
Total Count        20-2410-1415-1920-2435-3935-3925-2920-2430-34
Age Range          20-2410-1415-1920-2435-3935-3925-2920-2430-34
sum_column                                                  3484
dtype: object

In [322]:
#Top Popular Items DataFrame

top_popular_df = pd.DataFrame({"Item Name": ["Final Critic", "Oathbreaker, Last Hope of the Breaking Storm","Fiery Glass Crusader", "Persuasion", "Extraction, Quickblade Of Trembling Hands"], "Purchase Ct.":[13,12,9,9,9], "Item Price": [59.99/13,50.76/12,41.22/9,28.99/9,31.77/9], "Total Value":["$59.99","$50.76","$41.22","$28.99","$31.77"]})
print(top_popular_df)

                                      Item Name  Purchase Ct.  Item Price  \
0                                  Final Critic            13    4.614615
1  Oathbreaker, Last Hope of the Breaking Storm            12    4.230000
2                          Fiery Glass Crusader             9    4.580000
3                                    Persuasion             9    3.221111
4     Extraction, Quickblade Of Trembling Hands             9    3.530000

  Total Value
0      $59.99
1      $50.76
2      $41.22
3      $28.99
4      $31.77

In [323]:
top_popular_df["Item Name"] = top_popular_df["Item Name"]
top_popular_df["Purchase Ct."] = top_popular_df["Purchase Ct."]
top_popular_df["Item Price"] = top_popular_df["Item Price"].map("${:.2f}".format)
top_popular_df["Total Value"] = top_popular_df["Total Value"]
print(top_popular_df)

                                      Item Name  Purchase Ct. Item Price  \
0                                  Final Critic            13      $4.61
1  Oathbreaker, Last Hope of the Breaking Storm            12      $4.23
2                          Fiery Glass Crusader             9      $4.58
3                                    Persuasion             9      $3.22
4     Extraction, Quickblade Of Trembling Hands             9      $3.53

  Total Value
0      $59.99
1      $50.76
2      $41.22
3      $28.99
4      $31.77